<!-- Header -->
<div class="container">
  <div class="jumbotron">
    <h1>Opinion Box Beta v0.0</h1>
  </div>
</div>
<!-- Fim Header -->
<!-- Section 1 Container -->
<section class="container">
  <!-- Row 1 -->
  <div class="row" style="height: 3rem;">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="setPostCardMode('New Post')">Add Post</button>
    </div>
  </div>
  <!-- Fim Row 1 -->
  <!-- Row 2 Add Edit Card -->
  <div class="row">
    <div class="col-md-10">
      <app-post-add-edit *ngIf="cardOn" [postCardMode]="postCardMode" (newPostAdded)="onPostAdded($event)" (closeCard)="cardToggle()"></app-post-add-edit>
    </div>
  </div>
  <!-- Fim Row 2 -->
  <!-- Row 3 Post Section -->
  <div class="row">
    <app-posts-section [postList] = "postList"></app-posts-section>
  </div>
  <!-- Fim Row 3 -->
</section>
<!-- Fim Section 1 Container -->